<div id="<%= dom_id space_agency %>">
  <p>
    <strong>Name:</strong>
    <%= space_agency.name %>
  </p>

  <p>
    <strong>Headquarters:</strong>
    <%= space_agency.headquarters %>
  </p>

  <p>
    <strong>Exists:</strong>
    <%= space_agency.exists %>
  </p>

</div>
