<p style="color: green"><%= notice %></p>

<h1>Welcome to Space Missions</h1>

<%= link_to "Missions", missions_path %> <br>
<%= link_to "Rockets", rockets_path %> <br>
<%= link_to "Space Agencies", space_agencies_path %>
