<div id="<%= dom_id rocket %>">
  <p>
    <strong>Name:</strong>
    <%= rocket.name %>
  </p>

  <p>
    <strong>Mission:</strong>
    <%= rocket.mission_id %>
  </p>

  <p>
    <strong>First launch:</strong>
    <%= rocket.first_launch %>
  </p>

</div>
