<div id="<%= dom_id mission %>">
  <p>
    <strong>Name:</strong>
    <%= mission.name %>
  </p>

  <p>
    <strong>Initiated:</strong>
    <%= mission.initiated %>
  </p>

  <p>
    <strong>Terminated:</strong>
    <%= mission.terminated %>
  </p>

</div>
